
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)  { 
    .pl-lg-5 { padding-left: 3rem !important; }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px){ 
 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
    .footer-logo {
        text-align: center;
    }
    
    .footer-logo img {
        margin: 0 auto;
    }
    
    .social-icons {
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .copyright {
        margin-top: 32px;
    }
    .slider-main .nivo-caption .title {
        font-size: 30px;
    }
     
    
    .slider-main .nivo-caption .nivo-caption-content {
        max-width: 180px;
        padding-left:20px;
    }
    
    .nivo-directionNav {
        display: none;
    }
    
    .slider-main .nivo-caption .slidebtn a {
        padding: 7px 24px;
        font-size: 13px;
    }
    
    .slider-main .nivo-caption .slidebtn {
        margin-top: 16px;
    }
    
    div#slider {
        height: auto;
    }
    .slider-left-pattern {
         width: 48%;
   
    }
    h2 {
        font-size: 38px;
        line-height: 1.1;
    }
    .mobile-menu-toggle {
        display: flex;
      }
    
      .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      }
    
      .navbar.active {
        display: block;
        z-index: 999;
        background: #2d2a27;
        border-top: 1px solid #7e7777;
      }
    
      .menu {
        flex-direction: column;
        padding: 20px 0;
      }
    
      .menu li {
        margin: 10px 0;
      }
    
      .header-content {
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
      }
    .logo img {
    max-width: 200px;
}
    ul.menu {
}

ul.menu li {
    display: block;
    padding: 0px 0px;
    width: 100%;
    text-align: center;
}

ul.menu li a {
    display: block;
    color: #fff;
}
      section.services-area {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .about-content {
        padding-right: 0;
    }
    section.about-area {
         padding-top: 50px;
        padding-bottom: 50px;
    }
    .custom-accordion {
         padding-right: 0;
    }
    section.product-area img {
         margin-bottom: 24px;
    }
    section.product-area {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    section.faq-section {
        padding-bottom: 60px;
    }
    .section-title {
         padding-bottom: 16px;
    }
    li.call-btn .btn {
     
        display: inline-flex;
    }
    li.call-btn {
        margin-top: 0px;
    }
    .mobile {
        display: block;
      }
      .desktop {
        display: none;
      }
      .roomvo-text {
        padding-left: 0;
        padding-top: 30px;
    }
    section.roomvo-area {
        padding: 50px 0px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 450px) and (max-width: 600.98px) { 
    .slider-main .nivo-caption .title {
        font-size: 40px;
    }
    .slider-main .nivo-caption .nivo-caption-content {
        max-width: 200px;
        
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575.98px) { 
 
}